# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Hidden files and directories
.*
!.openshift/
!.gitignore
!.htaccess

# Test database files
*.db

# Flask instance directory
instance/
