# Set Cache-Control Headers
# max-age: 1 MONTH
<FilesMatch ".(css|js)$">
Header set Cache-Control "max-age=2628000, public"
</FilesMatch>
# max-age: 1 YEAR
<FilesMatch ".(ico|pdf|png|jpg|jpeg|gif)$">
Header set Cache-Control "max-age=31536000, public"
</FilesMatch>
