# Package dependencies
--extra-index-url https://pypi.python.org/simple

Flask==0.12
# Required by Flask:
click==6.7
itsdangerous==0.24
Jinja2==2.9.4
MarkupSafe==0.23
Werkzeug==0.11.15

Flask-SQLAlchemy==2.1
# Required by Flask-SQLAlchemy:
SQLAlchemy==1.1.5

Flask-Admin==1.4.2
# Required by Flask-Admin:
WTForms==2.1

Flask-Misaka==0.4.1
# Required for Flask-Misaka:
cffi==1.9.1
misaka==2.1.0
pycparser==2.17
