{% extends "admin_base.html" %}

{%- block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('sync_book') }}" method=post class=sync-form>
      <div class="input-box">
      <div class="field">
        <label for="id">ID: </label>
        <input type="text" size=10 name="id">
      </div>
      <div class="field">
        <label for="year">YEAR: </label>
        <input type="text" size=10 name="year">
      </div>
      <div class="field">
        <label for="title">TITLE: </label>
        <input type="text" size=120 name="title">
      </div>
      <div class="field">
      <label for="image">IMAGE: </label>
        <input type="text" size=120 name="image">
      </div>
      <div class="field">
      <label for="url">URL: </label>
        <input type="text" size=120 name="url">
      </div>
      <div class="field">
        <label for="action">ACTION: </label>
        <select name="action">
          <option value="" selected>-- select an action --</option>
          <option value="add">ADD BOOK (year, title, cover, image, url)</option>
          <option value="update">UPDATE BOOK (id, year, title, cover, image, url)</option>
          <option value="delete">DELETE BOOK (id)</option>
        </select>
      </div>
    </div>
      <div class="align"><input type="submit" class="button" value="SYNC BOOK"></div>
    </form>
  {% endif %}

  <ul class="books">
  {%- if books|length > 0 %}
    {% for book in books %}
    <li>
      <h2>
        <span class="id">{{ book.id }}</span>
        <a href="{{ book.url|safe }}" class="title" rel="external" target="_blank">
          {{ book.title }}</a>
        <span class="year">[{{ book.year }}]</span>
      </h2>
      <p>IMAGE: <a href="{{ book.image|safe }}" class="image" rel="external" target="_blank">
        {{ book.image|safe }}</a>
      </p>
    </li>
    {% endfor %}
  {% else %}
    <li><em>No books have been added to the database.</em></li>
  {% endif -%}
  </ul>
{% endblock -%}
