<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">

  <title>{% block title %}Kenny Ng{% endblock %}</title>
  <meta name="description" content="This is the personal website of Kenny Ng.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noarchive">

  <meta name="msapplication-TileColor" content="#2d89ef">
  <meta name="msapplication-TileImage" content="{{ url_for('static', filename='icons/favicon-144.png') }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='icons/favicon-180.png') }}">
  <link rel="icon" sizes="192x192" href="{{ url_for('static', filename='icons/favicon-192.png') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">

  <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Permanent+Marker|Open+Sans:400italic,400,700,800'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/combo?pure/0.6.0/base-min.css&pure/0.6.0/grids-min.css&pure/0.6.0/grids-responsive-min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  <div id="container">
    <div id="wrapper">
      <header role="banner" id="site-header" class="clearfix">
        <a id="site-header-name" href="{{ url_for('home') }}">Kenny Ng</a>

        <div id="nav-menu-bar">
          <span class="fa fa-bars fa-2x"></span>
        </div>

         <nav role="navigation" id="site-nav">
          {% set navigation_bar = [
            (url_for('resume'), 'resume', 'nav-resume', 'Résumé'),
            (url_for('projects'), 'projects', 'nav-projects', 'Projects'),
            (url_for('bookshelf'), 'bookshelf', 'nav-bookshelf', 'Bookshelf'),
            (url_for('blog'), 'blog', 'nav-blog', 'Blog'),
          ] -%}
          {% set active_page = active_page|default('index') -%}

          <ul id="navigation">
            {% for href, page, spanid, name in navigation_bar -%}
              <li {% if page == 'blog' %}class="final"{% endif %}>
                <span id="{{ spanid|e }}">
                  <a href="{{ href|e }}" {% if page == active_page %}class="active"{% endif %}>
                    <span class="fa fa-square-o icon-peg"></span>
                    {{ name|e }}</a>
                </span>
              </li>
            {%- endfor %}
          </ul>
        </nav>

     </header>

      <main role="main">
        <!--[if lt IE 9]>
        <div class="compatible-msg">
          YOUR CURRENT BROWSER IS NOT SUPPORTED.
          PLEASE UPGRADE TO INTERNET EXPLORER 9+, FIREFOX, OR CHROME.
        </div>
        <![endif]-->
        <noscript>
          <div class="compatible-msg">
            JAVASCRIPT MUST BE ENABLED FOR THIS PAGE TO RENDER CORRECTLY AND COMPLETELY.
          </div>
        </noscript>

        {% block content %}{% endblock %}
      </main>

    </div>

    <footer role="contentinfo" id="site-footer">
      <p>
        <small>&copy; <time datetime="2015">2015</time> Kenny Ng</small>
      </p>
    </footer>
  </div>

  <!-- Load JavaScript -->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  {% block scripts %}{% endblock %}
</body>
</html>
