{% extends "base.html" %}

{% block content %}
  <h1>Hi, I'm Kenny.</h1>

  <div id="index">
    <section>
      <h2 class="subheader">
        <span class="fa fa-heart-o fa-fw icon-red"></span>
        I like learning about stuff.
      </h2>
      <p>
        I am a student at Stanford University
        majoring in Mathematical &amp; Computational Science. My studies include
        applied mathematics, statistics, and heavy doses of computer science.
        Outside of coursework, I enjoy reading books, learning languages,
        watching movies, and taking MOOCs on various topics.
      </p>
    </section>
    <section>
      <h2 class="subheader">
        <span class="fa fa-keyboard-o fa-fw icon-green"></span>
        I write code and play with data.
      </h2>
      <p>My primary interests include:</p>
      <ul>
        <li>
          creating intelligent applications that leverage machine learning and
            data mining,
        </li>
        <li>building robust and scalable distributed systems, and</li>
        <li>
          discovering insights through statistical inference and data visualizations.
        </li>
      </ul>
      <p>
        However, I am always eager to learn and explore new topics,
          technologies, and tools.
      </p>
    </section>
    <section>
      <h2 class="subheader">
        <span class="fa fa-futbol-o fa-fw icon-blue"></span>
        I am a Judoka, an Arsenal supporter, and an amateur chef.
      </h2>
      <p>Judoka: someone who practices judo (a martial art and combat sport).</p>
      <p>Arsenal: by far the greatest [football] team the world has ever seen.</p>
      <p>Cooking: follow my culinary journey
        <a href="https://www.instagram.com/iron_chef_kenny/" class="social-handle"
          rel="external" target="_blank">@iron_chef_kenny</a>.</p>
    </section>
  </div>

  <div id="contact-repos" class="center">
    <a href="https://github.com/kennyng" id="icon-github" rel="external" target="_blank">
        <span class="fa fa-github fa-5x fa-fw"></span></a>
    <a href="https://bitbucket.org/kennyng" id="icon-bitbucket" rel="external" target="_blank">
        <span class="fa fa-bitbucket fa-5x fa-fw"></span></a>
    <a href="mailto:hello@kennyng.org" id="icon-email" rel="external" target="_blank">
        <span class="fa fa-envelope-o fa-5x fa-fw"></span></a>
  </div>
{% endblock %}
