{% extends "base.html" %}
{% set active_page = "projects" %}

{% block title %}Kenny Ng :: Projects{% endblock %}

{% block content %}
  <div id="projects">
    <div id="project-filter">
      <ul>
        <li><a href="javascript:;" id="project-all" class="active">ALL</a></li> /
        <li><a href="javascript:;" id="project-personal">PERSONAL</a></li> /
        <li><a href="javascript:;" id="project-school">SCHOOL</a></li> /
        <li><a href="javascript:;" id="project-work">WORK</a></li>
      </ul>
    </div>

    <div id="project-listing">

      <section id="[project]" class="[personal,school,work]">
        <h3>[project-title]</h3>
        <h4><span class="fa fa-quote-left icon-green"></span>
            [project-tagline]&hellip;
          <span class="fa fa-quote-right icon-green"></span></h4>

        <div class="info-box nonclickable hidden clearfix">
          <div class="project-img">
            <img src="http://placehold.it/180x180" alt="project-title" wdith="180" height="180"></img>
          </div>

          <div class="project-about">
            <p>
              [project-description] This is a project description.
              The quick brown fox jumps over the lazy dog. Grumpy wizards
              make toxic brew for the evil Queen and Jack. This is a project
              description. The quick brown fox jumps over the lazy dog.
              Grumpy wizards make toxic brew for the evil Queen and Jack.
              This is a project description. The quick brown fox jumps over
              the lazy dog. Grumpy wizards make toxic brew for the
              evil Queen and Jack.
            </p>
            <ul>
              <li><a href="#" rel="external" target="_blank">PROJECT</a></li>
              <li><a href="#" rel="external" target="_blank">PAPER</a></li>
              <li><a href="#" rel="external" target="_blank">CODE</a></li>
            </ul>
          </div>
        </div>

        <div class="more-info-icon"><span class="fa fa-chevron-down icon-green"></span>
          <span class="fa fa-chevron-up icon-green hidden"></span></div>
      </section>

    </div>

  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/projects.js') }}"></script>
{% endblock %}
