{% extends "base.html" %}
{% set active_page = "projects" %}

{% block title %}Kenny Ng :: Projects{% endblock %}

{% block content %}
  <div id="projects">
    <div id="project-filter">
      <ul>
        <li><a href="projects" id="project-all" class="active">ALL</a></li> /
        <li><a href="projects/personal" id="project-personal">PERSONAL</a></li> /
        <li><a href="projects/school" id="project-school">SCHOOL</a></li> /
        <li><a href="projects/work" id="project-work">WORK</a></li>
      </ul>
    </div>

    <div id="project-listing">
    {% if error -%}
      <div class="placeholder">
        <span class="fa fa-meh-o fa-5x"></span>
          <p>My projects are unavailable at the moment. <br />
             Sorry about that. Please visit again at a later time.</p>
      </div>
    {% else %}
      {%- if projects|length < 1 -%}
      <div class="placeholder">
        <span class="fa fa-file-code-o fa-5x"></span>
        <p>No projects have been added yet.</p>
        <p></p>
      </div>
      {% else %}
      {%- for project in projects -%}
      <section id="project-id-{{ project.id }}" class="{{ project.category }}">
        <h2>{{ project.title }}</h2>
        <h3><span class="fa fa-quote-left icon-green"></span>
          {{ project.tagline }}&hellip;
        <span class="fa fa-quote-right icon-green"></span></h3>

        <div class="info-box nonclickable hidden clearfix">
          <div class="pure-g">
            <div class="pure-u-1 pure-u-md-8-24 pure-img">
              <span class="img-box">
                <img src="{{ project.image|e }}" alt="{{ project.title }}"></img>
              </span>
            </div>
            <div class="pure-u-1 pure-u-md-16-24 project-info">
              <p>
                {{ project.description }}
              </p>
              <div class="project-links">
                {% if project.url -%}
                <a class="pretty-btn project-border" href="{{ project.url|e }}" target="_blank">PROJECT</a>
                {%- endif %}
                {% if project.info -%}
                <a class="pretty-btn project-border" href="{{ project.info|e }}" target="_blank">ABOUT</a>
                {%- endif %}
                {% if project.code -%}
                <a class="pretty-btn project-border" href="{{ project.code|e }}" target="_blank">CODE</a>
                {%- endif %}
              </div>
            </div>
          </div>
        </div> <!-- end info-box -->

        <div class="more-info-icon"><span class="fa fa-chevron-down icon-green"></span>
          <span class="fa fa-chevron-up icon-green hidden"></span></div>
      </section>
      {%- endfor %}
      {%- endif %}
    {%- endif %}
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/projects.js') }}"></script>
{% endblock %}
