{% extends "base.html" %}
{% set active_page = "resume" %}

{% block title %}Kenny Ng :: Résumé{% endblock %}

{% block content %}
  <div id="resume">
    <h1>I am looking for a job.</h1>
    <div class="center">For the latest copy of my résumé or
      for references, contact me at <em><span class="email"></span></em>.
    </div>

    <section>
      <h2>Education</h2>
        <h3>
            BS, <a href="http://web.stanford.edu/group/mathcompsci/"
                rel="external" target="_blank">
                Mathematical &amp; Computational Science</a>, Stanford University
        </h3>
        <ul>
          <li>
            <div id="show-course" class="label-emphasis">Selected Coursework
                <span class="fa fa-angle-down fa-fw fa-lg"></span>
            </div>
            <div id="hide-course" class="label-emphasis hidden">Selected Coursework
              <span class="fa fa-angle-up fa-fw fa-lg"></span>
            </div>
          </li>
          <div id="course-list" class="hidden">
            <ul>
              <li>Machine Learning</li>
              <li>Mining Massive Data Sets (Data Mining)</li>
              <li>Operating Systems</li>
              <li>Database System Principles</li>
              <li>Design and Analysis of Algorithms</li>
              <li>Mathematical Foundations of Computing</li>
              <li>Computer Organization and Systems</li>
              <li>Object Oriented Programming</li>
              <li>Principles of Computer Systems</li>
              <li>Human-Computer Interaction Design</li>
              <li>Data Visualization</li>
              <li>Statistical Learning</li>
              <li>Statistical Inference</li>
              <li>Applied Statistics and Regression Analysis</li>
              <li>Linear and Nonlinear Programming (Convex Optimization)</li>
              <li>Stochastic Modeling</li>
            </ul>
          </div>
        </ul>

        <h3>
          2013: <a href="https://undergrad.stanford.edu/programs/bosp/explore/beijing/about-beijing-program"
                  rel="external" target="_blank">Bing Overseas Studies Program</a>,
                  Peking University (北京大学)
        </h3>
    </section>

    <section>
      <h2>Experience</h2>
        <h4>2012 - 2015:</h4>
        <h3>
          Research Assistant &amp; Full Stack Developer,
          <a href="http://54.191.94.187/" rel="external" target="_blank">Taiko Network</a>
        </h3>

        <ul>
          <li>Built API that syncs data between Neo4j, SQL, and Salesforce databases.</li>
          <li>Created interactive graph and map visualizations of the taiko
                community using D3.js and Sigma.js.</li>
          <li>Wrote Cypher queries (Neo4j) for computing shortest paths,
                centrality measures, and other metrics.</li>
          <li>Designed and developed responsive interface using Bootstrap.</li>
          <li>Deployed and monitor Django, Ubuntu, Nginx, Gunicorn, PostgreSQL,
                Memcached, and Neo4j setup on AWS EC2 instances.</li>
        </ul>

        <h4>2013:</h4>
        <h3>
          Software Engineering Intern,
          <a href="http://www.practicefusion.com/" rel="external" target="_blank">
            Practice Fusion</a>
        </h3>

        <ul>
          <li>Developed the Practice Fusion API Client,
                a multi-threaded software application for medical labs to
                connect with Practice Fusion's EHR system.</li>
          <li>Features an intuitive drag-and-drop interface for transferring
                files using the HL7 standard and a monitoring tool for diagnosing errors.</li>
        </ul>

        <h4>2012:</h4>
        <h3>
          Backend Engineering Intern,
          <a rel="external" href="https://www.pulse.me/" target="_blank">Pulse</a>
            (<em>acquired by LinkedIn</em>)
        </h3>

        <ul>
          <li>Reduced the number of duplicate articles in news feeds from
                12% to 3% by implementing real-time near duplicate detection via tf-idf weighting.</li>
          <li>Built dashboard that monitors the memory distribution of Redis instances.</li>
          <li>Implemented feature that detects geolocation by IP address on Google App Engine.</li>
          <li>Prototyped internal Django app for automating/simplifying the process
                of building, demoing, and selling of ads for the business development team.</li>
          <li>Developed custom financial stock feeds for mobile clients to increase user growth.</li>
        </ul>
    </section>

    <section>
      <h2>Skills</h2>
      <h3>Spoken Languages:</h3>
        <ul>
          <li><span class="label-emphasis">Native/Bilingual Proficiency: </span>
            English, Cantonese Chinese</li>
          <li><span class="label-emphasis">Elementary Proficiency: </span>
            Mandarin Chinese, Spanish</li>
        </ul>
      <h3>Programming Languages:</h3>
        <ul>
          <li><span class="label-emphasis">Proficient in: </span>Python, C</li>
          <li><span class="label-emphasis">Familiar with: </span>
            Java, JavaScript, SQL, R, MATLAB</li>
          <li><span class="label-emphasis">Exposure to: </span>C#, C++</li>
        </ul>
      <h3>Notable Tools and Technologies:</h3>
        <ul>
          <li><span class="label-emphasis">Web: </span>
            Flask, Django, HTML5, CSS, jQuery, Bootstrap, Nginx, Gunicorn, Jinja2, SQLAlchemy</li>
          <li><span class="label-emphasis">Databases: </span>
            MySQL, PostgreSQL, SQLite, Redis, Memcached, Neo4j</li>
          <li><span class="label-emphasis">Platforms: </span>
            Amazon Web Services, OpenShift, Heroku, Google App Engine, Salesforce</li>
          <li><span class="label-emphasis">Other: </span>
            Git, Hadoop, Spark, SciPy, OpenCV, D3.js</li>
        </ul>
    </section>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/resume.js') }}"></script>
{% endblock %}
