

/* Index CSS */
#index {
  border-bottom: 1px solid #6c7a89;
}
#index SECTION {
  margin-bottom:2em;
}
#index .subheader {
  margin-left:4em;
  margin-bottom:0.5em;
  text-indent:-1em;
}
#index P {
  line-height:1.5;
  margin:0 0 0 6em;
  padding-left:1em;
  padding-right:1em;
  border-left: 1px solid #6c7a89;
}
#index UL {
  line-height:1.5;
  margin:0 0 0 6em;
  padding-left:1em;
  padding-right:1em;
  border-left: 1px solid #6c7a89;
  list-style-position:inside;
  list-style-type:circle;
}
#index UL LI {
  margin-left: 2em;
}
#index .fa-fw {
  width:0.5em;
}
.fa.icon-red {
  color:#f64747;
}
.fa.icon-green {
  color:#66bb6a;
}
.fa.icon-blue {
  color:#1e8bc3;
}
.social-handle {
  color:#1e8bc3;
}
#contact-repos {
  margin-top:1.5em;
  margin-bottom:1.5em;
}
#contact-repos .fa-fw {
  width: 2em;
}
#contact-repos A,A:hover {
  border-bottom:0;
}
#contact-repos A[rel=external]:hover {
  text-decoration:none;
}
#icon-github:hover {
  color:#000;
}
#icon-bitbucket:hover {
  color:#205081;
}
#icon-email:hover {
  color:#db4437;
}
#icon-goodreads:hover {
  color:#8f4314;
}
#icon-goodreads .fa-stack {
  line-height:inherit!important;
}
.icon-gr-style {
  font-family:helvetica;
  font-size:0.8em;
  font-weight:100;
  padding-top:0.15em;
}
