

/* Media CSS */
@media only screen and (max-width:420px) {
  #site-header-name {
    float:left;
    font-size:2em;
    margin-bottom:0;
  }
  #site-nav {
    display:none;
    margin-top:3.5em;
    padding:0.5em 0 0.75em;
    border-top:2px dotted #6c7a89;
  }
  #site-nav LI {
    display:block;
    text-align:left;
    line-height:1.5;
  }
  #nav-menu-bar {
    display:block;
  }
  #index .subheader {
    margin-left:2em;
  }
  #index P, #index UL {
    margin:0 0 0 3em;
  }
  #blog .post-title {
    line-height:1.5;
  }
  #blog .post-date {
    line-height:1.5;
    margin-bottom:1em;
  }
}
@media only screen and (min-width:40.063em) {
  #site-header{
    margin-bottom:2em;
  }
  #site-header-name {
    float:left;
    text-align:left;
    margin-bottom:0;
  }
  #site-nav {
    float:right;
  }
  #site-nav UL {
    padding-top:2.5em;
  }
  #site-nav LI {
    display:inline;
    padding:0 0 0 1em;
  }
  #site-footer {
    text-align:center;
    max-width:1000px;
    padding-bottom:0.5em;
    margin:-3em auto auto;
  }
  #not-found .ultrasize {
    font-size:18em;
  }
  #not-found .megasize {
    font-size:4em;
  }
  $not-found .bigsize {
    font-size:3em;
  }
  #about {
    max-width:80%;
    margin:auto;
  }
  #resume {
    max-width:80%;
    margin:auto;
  }
  #projects {
    max-width:85%;
    margin:auto;
  }
  #project-filter UL {
    font-size:125%;
  }
  #project-filter LI {
    padding:0 0.75em;
  }
  #bookshelf {
    max-width:80%;
    margin:auto;
  }
  #blog {
    max-width:85%;
    margin:auto;
  }
}
@media only screen and (min-width:64.063em) {
  #container {
    min-height:100%;
  }
  #wrapper {
    padding-bottom:2em;
    max-width:1000px;
    margin:auto;
  }
  .project-info P, .project-info .project-links {
    padding-left:0;
  }
}
@media print {
  BODY {
    font-family:Helvetica,Arial,sans-serif;
  }
  A {
    color:#000;
    text-decoration:none;
  }
}
