

/* Resume CSS */
#resume SECTION {
  padding-bottom:1em;
}
#resume H1 {
  padding-bottom:10px!important;
  margin-bottom:0!important;
}
#resume H2 {
  margin-top:1.5em;
  margin-bottom:0.75em;
  padding-bottom:0.5em;
  line-height:1.2;
  border-bottom:1px solid #6c7a89;
}
#resume H3 {
  line-height:1.3;
  margin-bottom:0.5em;
}
#resume H4 {
  line-height:1.4;
  font-style:italic;
}
#resume UL {
  margin:0 0 1.5em 2.5em;
  list-style-position:inside;
  list-style-type:square;
}
#resume UL LI {
  line-height:1.5;
  margin-bottom:0.5em;
}
#resume A {
  color:#1e8bc3;
}
#resume A:hover {
  border-bottom:1px solid #1e8bc3;
}
#show-course {
  cursor:pointer;
}
#hide-course {
  cursor:pointer;
}
