html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  overflow-y: scroll;
  box-sizing: border-box;
}
body {
  font-weight: 600;
  background: #fff;
  color: #111;
}
nav {
  padding-top: 10vh;
}
a {
  text-decoration: none;
  color: #111;
}
a:hover {
  color: #1e8bc3;
}
ul {
  list-style: none;
  display: inline-block;
  text-align: left;
  padding: 0;
  margin: 0;
}
.external-link a {
  border-bottom: 1px dotted #1e8bc3;
}
.external-link a:hover {
  border-bottom-style: none;
}
.align-center {
  text-align: center;
}
.mt0 {
  margin-top: 0;
}
.mb0 {
  margin-bottom: 0;
}
.at {
  font-weight: 300;
  font-style: italic;
}
.color-red {
  color: #f64747;
}
.color-green {
  color: #66bb6a;
}
.color-blue {
  color: #1e8bc3;
}
.message{
  text-align: center;
  color: #555;
  border: 3px solid #555;
  border-radius: 6px;
  max-width: 60rem;
  padding: 1em;
  margin-top: -5vh;
}
#not-found {
  margin-top: 10vh;
}
#not-found p {
  font-size: 4rem;
}


/* HOME
-----------------------------------------------------------------------------*/
#home {
  margin-top: 10vh;
}
.link-label {
  display: block;
}
.link-container {
  display: inline-block;
  text-align: center;
  margin: 0 1.5em;
}
#contact-link-icon:hover {
  color: #db4437;
}
#contact-link-icon:hover > .fa-envelope-o:before {
  content: '\f2b7';   /* .fa-envelope-open-o */
}
#projects-link-icon:hover > .fa-code:before {
  content: '\f0a4';   /* .fa-hand-o-right */
}
#contact-link-icon, #projects-link-icon {
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}


/* PROJECTS
-----------------------------------------------------------------------------*/
#projects {
  padding-top: 15vh;
  padding-bottom: 15vh;
}
.projects-heading {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.hr-projects-heading {
  max-width: 10rem;  /* <div> required for IE */
}
.hr-projects-heading hr {
  border-bottom: 6px solid #111;
  margin: 2rem 0 10rem;
}
.projects-list {
  margin-left: 0.25em;
}
.project-item {
  margin-bottom: 0;
}
.hr-project-item {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.project-title a:hover,
.project-title a:focus {
  color: #111;
  background-image: -webkit-linear-gradient(transparent, transparent 87.5%, #1e8bc3 87.5%);
  background-image: linear-gradient(transparent, transparent 87.5%, #1e8bc3 87.5%)
}
.project-title a:hover > .fa {
  color: #1e8bc3;
}
.project-title a > .fa {
  font-size: 2rem;
}
.project-description p {
  margin-bottom: 0;
}
.project-links {
  font-weight: 300;
  margin-top: 0.5rem;
}
.project-link {
  display: inline-block;
  margin-right: 2rem;
}
.project-tags {
  font-weight: 300;
  font-style: italic;
  color: #555;
}


/* MEDIA QUERIES
-----------------------------------------------------------------------------*/
/* Larger than standard mobile (Nexus 5: 360px) */
@media (min-width: 361px) {
  #not-found {
    margin-top: 20vh;
  }
  #home {
    margin-top: 20vh;
  }
}
/* Larger than tablet (grids activate at min-width: 550px) */
@media (min-width: 750px) {
  body.index {
    background: #e1e1e1;
  }
  #home {
    margin-top: 25vh;
  }
  #home .container {
    background: #fff;
    border: 1px solid #e1e1e1;
    padding: 3em;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
  }
  .projects-list {
    max-width: 60rem;
  }
}
