<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{% block title %}Kenny Ng{% endblock %}</title>
	<meta name="description" content="This is the personal web page of Kenny Ng.">
	<meta name="author" content="Kenny Ng">
	<meta name="robots" content="noarchive">
	<!-- Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->
	<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<!-- Fonts -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300,300i,600">
	<!-- CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/css/style.min.css">
</head>
{% block page %}{% endblock %}
</html>
