{% extends "base.html" %}

{% block page %}
<body class="index">
	<main role="main">
		<section id="home">
			<div class="container">
				<div class="ten columns offset-by-one align-center">
					<h1 class="name-heading mb0">Kenny Ng</h1>
					<hr>

					<div class="about-list external-link">
						<ul class="fa-ul">
							<li><span class="fa fa-graduation-cap fa-li fa-lg"></span>
								Studied
								<a href="https://mcs.stanford.edu/overview" rel="external" target="_blank">
									Mathematical &amp; Computational Science</a>
								<span class="at">@</span>Stanford.
							</li>
							<li><span class="fa fa-keyboard-o fa-li fa-lg color-green"></span>
								Previously: software engineering
								<a href="http://www.practicefusion.com" rel="external" target="_blank">
									<span class="at">@</span>practicefusion</a> and
								<a href="https://mobile.linkedin.com/pulse" rel="external" target="_blank">
									<span class="at">@</span>Pulse</a>.
							</li>
							<li><span class="fa fa-heart fa-li fa-lg color-red"></span>
								Judoka, Arsenal FC supporter &amp; amateur
								(<a href="https://www.instagram.com/iron_chef_kenny" rel="external" target="_blank">
									<span class="at">@</span>iron_chef_kenny</a>).
							</li>
						</ul>
					</div>

					<hr>

					<div class="link-icons">
						<div class="link-container">
								<a href="mailto:hello@kennyng.org" rel="external" id="contact-link-icon">
									<span class="fa fa-envelope-o fa-3x fa-fw"></span>
									<span class="link-label">contact</span>
								</a>
						</div>
						<div class="link-container">
							<a href="{{ url_for('projects') }}" id="projects-link-icon">
								<span class="fa fa-code fa-3x fa-fw"></span>
								<span class="link-label">projects</span>
							</a>
						</div>
					</div>

				</div>
			</div>
		</section>
	</main>
</body>
{% endblock %}
