{% extends "base.html" %}

{% block title %}Kenny Ng: ~/Projects{% endblock %}

{% block page %}
<body>
	<header role="banner">
		<div class="container">
			<nav role="navigation" class="navbar">
				<a href="{{ url_for('home') }}">
					<span class="fa fa-chevron-left fa-fw"></span>
					Kenny Ng
				</a>
			</nav>
		</div>
	</header>

	<main role="main">
    <section id="projects">
			<div class="container">

				<h2 class="projects-heading">Projects</h2>
				<hr>

				<ul class="fa-ul">
					<li class="project-item">
						<h6 class="project-title">
							<a href="#" target="_blank">
								<span class="fa-li fa fa-code"></span>
								ProjectName20
							</a>
						</h6>
						<p class="project-description">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							Morbi eu consequat lacus, sit amet aliquam nibh. Cras sodales, mi et.
						</p>
					</li>

					<li class="project-item">
						<h6 class="project-title">
							<a href="#" target="_blank">
								<span class="fa-li fa fa-code"></span>
								ProjectName40
							</a>
						</h6>
						<p class="project-description">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							Morbi eu consequat lacus, sit amet aliquam nibh. Cras sodales, mi et.
							Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							Morbi eu consequat lacus, sit amet aliquam nibh. Cras sodales, mi et.
						</p>
					</li>

					<li class="project-item">
						<h6 class="project-title">
							<a href="#" target="_blank">
								<span class="fa-li fa fa-code"></span>
								ProjectName60
							</a>
						</h6>
						<p class="project-description">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							Morbi eu consequat lacus, sit amet aliquam nibh. Cras sodales, mi et.
							Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							Morbi eu consequat lacus, sit amet aliquam nibh. Cras sodales, mi et.
							Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							Morbi eu consequat lacus, sit amet aliquam nibh. Cras sodales, mi et.
						</p>
					</li>
				</ul>

			</div>
		</section>





			<!--
      {% if error -%}
      <div class="message">
        <span class="fa fa-meh-o fa-5x"></span>
        <p>My projects are unavailable at the moment. <br />
             Sorry about that. Please visit again at a later time.</p>
      </div>
      {% else %}
        {%- if projects|length < 1 -%}
        <div class="message">
          <span class="fa fa-file-code-o fa-5x"></span>
          <p>No projects have been added yet.</p>
        </div>
        {% else %}
				{%- for project in projects -%}
        <section class="project-item">
					<h3 class="h2 mb0">
						<a href="{{ project.url|e }}" target="_blank">
							<span class="fa fa-external-link fa-fw"></span>{{ project.title|e }}
            </a>
          </h3>
          <p>{{ project.description|markdown }}</p>
        </section>
				{%- endfor %}
        {%- endif %}
      {%- endif %}
			-->
	</main>
</body>
{% endblock %}
